------------- Common-CSS----------------*/ body {
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-size: 14px;
  font-weight: 300;
}
li {
  list-style: none;
}
a:hover {
  text-decoration: none;
}

/*Headers*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #555;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 25px;
}
h6 {
  font-size: 20px;
}
ul {
  padding-left: 0;
}
/*	 Slider Start
    ==================================================*/

#slider-area {
  margin-top: 30px;
}
.nivo-prevNav,
.nivo-nextNav {
  height: 40px;
  width: 40px;
  text-indent: 9999px;
  background-position: 0px 0px;
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -ms-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
  background-repeat: no-repeat;
}
.nivo-prevNav {
  background: url("./images/large_left.png");
  margin-left: -60px;
}
.nivo-nextNav {
  background: url("./images/large_right.png");
  margin-right: -60px;
}
.nivo-prevNav:hover {
  background-position: 0px -40px;
}

.nivo-nextNav:hover {
  background-position: 0px -40px;
}
#slider:hover .nivo-prevNav {
  margin-left: 20px;
}
#slider:hover .nivo-nextNav {
  margin-right: 20px;
}
.nivo-controlNav {
  display: none;
}
.nivo-caption {
  background: none;
}
.nivo-directionNav a {
  display: block;
}
.nivoSlider {
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.card {
  background-color: #986b47;
  border-radius: 10px;
}

#connect i {
  font-size: 40px;
  color: white;
}

nav li {
  margin-right: 40px;
}

nav li a {
  color: black !important;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 0.93333em;
}

